fastapi==0.123.7
uvicorn==0.37.0
python-multipart==0.0.20
sqlalchemy==2.0.44
librosa==0.11.0
numpy==1.26.4
scipy==1.15.3
soundfile==0.13.1
scikit-learn==1.7.2
tensorflow==2.15.1
httpx==0.28.1
pytest==8.4.2
