Source: essentia
Section: libs
Priority: extra
Maintainer: Nicolas Wack <nicolas.wack@upf.edu>
Build-Depends: debhelper (>= 5), python-central (>= 0.5), scons, doxygen, fftw3-dev, libsamplerate-dev, libavcodec-dev, libavformat-dev, python-dev, python-numpy
Standards-Version: 3.7.2
XS-Python-Version: current

Package: libessentia-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: audio analysis tool -- development files
 Essentia is an audio analysis tool. It provides a reusable collection
 of algorithms and descriptors mainly used to extract features from
 audio files. It is written in C++, but also has Python bindings,
 meaning you can control it from within Python, and write scripts that
 use Essentia features (just as you would in Matlab).
 .
 This package contains all the development files required to build
 software using Essentia features.

Package: python-essentia
Section: python
Architecture: any
Replaces: libessentia-python
Conflicts: libessentia-python
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-numpy
XB-Python-Version: ${python:Versions}
Description: audio analysis tool -- Python bindings
 Essentia is an audio analysis tool. It provides a reusable collection
 of algorithms and descriptors mainly used to extract features from
 audio files. It is written in C++, but also has Python bindings,
 meaning you can control it from within Python, and write scripts that
 use Essentia features (just as you would in Matlab).
 .
 This package contains all the required files to write applications using
 the Python language, plus some handy tools to work with audio files.

Package: essentia-doc
Section: libs
Architecture: all
Replaces: libessentia-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: audio analysis tool -- documentation
 Essentia is an audio analysis tool. It provides a reusable collection
 of algorithms and descriptors mainly used to extract features from
 audio files. It is written in C++, but also has Python bindings,
 meaning you can control it from within Python, and write scripts that
 use Essentia features (just as you would in Matlab).
 .
 This package contains all the documentation related to Essentia.
